streamlit   # Replace with the version you are using
pandas     # Replace with the version you are using
joblib      # Replace with the version you are using
numpy       # Optional, include if your project uses numpy directly
scikit-learn  # Optional, include if you are using scikit-learn for machine learning
xgboost
